.product-card {
  border-radius: 12px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  height: 220px;
  object-fit: cover;
}

.price {
  color: green;
  font-weight: bold;
}