<div class="d-flex justify-content-between mb-4">
  <h2>🛍️ Products</h2>

  <a routerLink="/add-product" class="btn btn-success">
    + Add Product
  </a>
</div>

<div class="row">

  <div *ngFor="let product of products" class="col-md-4 mb-4">

    <div class="card shadow-sm">

      <img [src]="product.image" class="card-img-top" height="200">

      <div class="card-body text-center">
        <h5>{{ product.name }}</h5>
        <p>₹{{ product.price }}</p>

        <button class="btn btn-primary w-100"
                (click)="addToCart(product)">
          Add to Cart 🛒
        </button>

      </div>

    </div>

  </div>

</div>